body {
  display: flex;
  margin: 0;
  background-color: #000;
}

p {
  color: #0F0;
  font-size: 10px; 
  width: 24vw; 
  font-family: monospace; 
  word-break: break-all; 
}


.hidden {
  display: none;
}