/* general styling */

body {
  display: flex;
  margin: 0;
  background-color: #000;
}

.text1{
  margin-top: -5px;
}

.text2{
  margin-top: -908px;
  margin-left: 440px;
}

.text3{
  margin-top: -920px;
  margin-left: 880px;
}

.text4{
  margin-top: -935px;
  margin-left: 1320px;
}

.text5{
  margin-top: -950px;
  margin-left: 1760px;
}

.text6{
  margin-top: -960px;
  margin-left: 2200px;
}

.text7{
  margin-top: -973px;
  margin-left: 2640px;
}

.text8{
  margin-top: -985px;
  margin-left: 3080px;
}

.text9{
  margin-top: -998px;
  margin-left: 3520px;
}

.text10{
  margin-top: -1010px;
  margin-left: 3960px;
}

.text11{
  margin-top: -1020px;
  margin-left: 4400px;
}


.text12{
  margin-top: -1035px;
  margin-left: 4840px;
}

.text13{
  margin-top: -1050px;
  margin-left: 5280px;
}

.text14{
  margin-top: -1065px;
  margin-left: 5720px;
}

.text15{
  margin-top: -1080px;
  margin-left: 6160px;
}

.text16{
  margin-top: -1090px;
  margin-left: 6600px;
}

.text17{
  margin-top: -1105px;
  margin-left: 7040px;
}

.text18{
  margin-top: -1120px;
  margin-left: 7480px;
}

.text19{
  margin-top: -1130px;
  margin-left: 7920px;
}

.text20{
  margin-top: -1145px;
  margin-left: 8360px;
}

.text21{
  margin-top: -1157px;
  margin-left: 8800px;
}

.text22{
  margin-top: -1170px;
  margin-left: 9240px;
}

.text23{
  margin-top: -1180px;
  margin-left: 9680px;
}

.text24{
  margin-top: -1195px;
  margin-left: 10120px;
}


p {
  margin-top: -70px;
  margin-left: -50px;
  color: #0F0;
  font-size: 12px; 
  font-family: monospace; 
  text-align: justify;
  word-break: break-all; /* so the text does not hyphenate */
  padding: 5px;
  text-shadow: 0 0 10px #0F0, 0 0 20px #0F0, 0 0 30px #0F0; /* glowing effect to the text */
}

/* to make sure the text does not show until it is typed out */

.hidden {
  display: none;
}
/* shaking animation transformation */
@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 20% { transform: translate(-5px, 0); }
  30%, 50%, 70%, 90% { transform: translate(5px, 0); }
  40%, 60%, 80% { transform: translate(-5px, 0); }
  100% { transform: translate(0, 0); }
}

/* shaking animation happens to all of the text every minute */
.clock.shake {
  animation: shake 0.5s ease-in-out;
}


.error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
