body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

p {
  font-family: monospace;
  font-size: 10px;
  color: #0F0;
}


.text1{
width: 600px;
hyphens: auto;
}

.text2{
width: 600px;
hyphens: auto;
}

.text3{
width: 600px;
hyphens: auto;
}

.text4{
width: 600px;
hyphens: auto;
}

.text5{
width: 600px;
hyphens: auto;
}

.text6{
width: 600px;
hyphens: auto;
}

.text7{
width: 600px;
hyphens: auto;
}

.text8{
width: 600px;
hyphens: auto;
}

.text9{
width: 600px;
hyphens: auto;
}

.text10{
width: 600px;
hyphens: auto;
}

.text11{
width: 600px;
hyphens: auto;
}

.text12{
width: 600px;
hyphens: auto;
}

.text13{
width: 600px;
hyphens: auto;
}

.text14{
width: 600px;
hyphens: auto;
}

.text15{
width: 600px;
hyphens: auto;
}

.text16{
width: 600px;
}

.text17{
width: 600px;
}

.text18{
width: 600px;
}

.text19{
width: 600px;
}

.text20{
width: 600px;
}

.text21{
width: 600px;
}

.text22{
width: 600px;
}

.text23{
width: 600px;
}

.text24{
width: 600px;
}

.hidden {
  display: none;
}