body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

p {
  font-family: monospace;
  color: #0F0;
}


.gray-box {
  background-color: #525252; /* Gray color */
  width: 900px; /* Width of the box */
  height: 500px; /* Height of the box */
  padding: 20px; /* Padding inside the box */
  position: absolute;
  z-index: -10;
}

.text1{
  width: 30%;
}

.text2{
  margin-top: -400px;
  width: 70%;
}