body{
    background-color: #650000;
    text-align: center;
}

h1{
    color:antiquewhite;
}

p{
    color:antiquewhite;
}





.home-button {
    position: fixed;
    top: 1vw;
    left: 1vw;
    cursor: pointer;
    padding: 10px;
}

.home-button p {
    color: antiquewhite;
    stroke: none;
}



.one{
margin-top: -5vw;
}

.photo-strip{
margin-top: -80vw;
margin-left: -33vw;
display: inline-block;
}






@keyframes swayAnimation2 {
    0% { transform-origin: top center; transform: rotate(0); }
    25% { transform-origin: top center; transform: rotate(2deg); } /* Opposite direction */
    50% { transform-origin: top center; transform: rotate(0); }
    75% { transform-origin: top center; transform: rotate(-2deg); } /* Opposite direction */
    100% { transform-origin: top center; transform: rotate(0); }
}




.strip2 {
    animation: swayAnimation2 4s infinite alternate;
}





.image-3 {
    display: inline-block;
}

.strip2 {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: swayAnimation2 4s infinite alternate;
}




.image-2 img{
    transform: rotate(15deg);
    width: 10vw;
    display: inline-block;    
    margin-top: -10vw;
    }
    
    .image-3 img{
    transform: rotate(-10deg);
    width: 10vw;
    display: inline-block;
    }



.image-1 img{
width: 25vw;
margin-top: 15vw;
}


.image-2, 
.image-3{
display: inline-block;
}



.image-4 img{
margin-left: 22vw;
margin-top: -8vw;
width: 10vw;
}
  
.next {
margin-top: -5vw;
margin-right: 5vw;
}

.next img{
width: 3%;
height: 1%;
margin-left: 45%;
}





.caption1 {
text-align: left;
margin-left: 37vw;
margin-top: -47vw;
width: 25vw; /* Set the maximum width */
}

.caption2 {
text-align: left;    
margin-top: 36.5vw;
margin-right: 40vw;
width: 25vw; /* Set the maximum width */
}


.caption2 {
text-align: left;
margin-top: 36.5vw;
margin-left: 60vw;
width: 25vw; /* Set the maximum width */
}