/* intro */



body {
    background:  #650000; 
    overflow-x: hidden; 
}

h1 {
    color: antiquewhite;
}

p {
    color: antiquewhite;
    font-family: "pritzious", sans-serif;
    font-size: 30px;
    line-height: 1; 
}

.intro {
    z-index: 5;
    position: absolute; 
    width: 800px;
    margin-top: 500px;
    left: 50%; 
    transform: translateX(-50%); 
    transition: transform 0.3s ease-in-out;
    text-align: center; 
    cursor: pointer; 
}


.intro h1 {
    position: absolute;
    text-align: center; 
    font-family: "Noto Serif Tamil", serif;
    font-style: light;
    line-height: 1.2; 
}

.intro h1::before {
    content: "எல்லா காலத்திலும் சிறந்த காதல் கதையைப் படிக்க கிளிக் செய்யவும்"; 
    display: block;
    font-size: 50px;
}

.intro:hover h1:before {
    line-height: 100px;
    font-size: 100px;
    letter-spacing: -3px; /* Adjust the value as needed */
    content: "click to read the greatest love story of all time"; /* Set content on hover */
    font-style: light;
    font-family: "pritzious", sans-serif;
    transition: content 1s ease; /* Add transition */

}


.intro a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element */
  }





.designs {
    position: relative;
}

.border {
    z-index: 4;
    position: absolute; 
    margin-top: -850px;
    margin-bottom: 2000px;
    left: 0;
}

.border-img {
    width: 1800px;
    height: 600px;
}

.box {
    position: absolute;
    margin-top: -300px;
    width: 2000px;
    height: 400px; 
    background: linear-gradient(to bottom, #240000, #650000); /* Adjust the colors as needed */
    z-index: 3; 
}



.mandala {
    display: flex;
    justify-content: center;
    margin-bottom: -4500px;
    position: relative;
    z-index: 2;
    margin-bottom: -50px;
}

.mandala-img {
    width: 1200px;
    transition: transform 2s linear;
    position: relative;
    animation: spin 10s infinite linear;
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.container-one,
.container-two,
.container-three,
.container-four,
.container-five {
    position: relative; /* Set the position of the containers to relative */
}

.nav1,
.nav2,
.nav3,
.nav4,
.nav5 {
    display: flex;
    flex-direction: column;
    position: relative; /* Position relative */
    z-index: 10; /* Ensure the navigation elements are above other content */
    margin-top: -450px; /* Adjust the margin as needed */
    margin-bottom: 100px; /* Adjust the margin as needed */
    cursor: pointer;
}

.scroll-button1 img,
.scroll-button2 img {
    width: 80px;
    height: auto;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 80vw;
}

.scroll-button1{
    margin-right: .7%;
}

.scroll-button1 img {
    transform: rotate(180deg);
}

.scroll-button2 img{
    margin-bottom: 300px;
}

.home{
    background:  #240000; 
    width: 100%;
    height: 100%;    }
    

.home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    padding: 10px;
}

.home-button p {
    color: antiquewhite;
    stroke: none;
    font-size: 25px;
}


.story-button {
    position: fixed;
    bottom: -70px;
    left: -70px;
    cursor: pointer;
    padding: 100px;
}

.story-button p {
    color: antiquewhite;
    stroke: none;
    font-size: 30px;
}





/* one */


.container-one {
    position: relative;
    margin-top: 1000px;
    margin-bottom: 100px;
    text-align: center;
}


.container-one .background-one{
        position: relative; /* Position fixed to cover the whole page */
        margin-top: -1100px;
        margin-left: -200px;
        z-index: -3; /* Set z-index to ensure it's behind other content */
    }
    
    .container-one .background-one img {
        object-fit: cover; /* Ensure the image covers the entire background */
        width: 2200px;
        height: 1200px;
    }
    
    
.container-one .image-1 {
    position: relative;
    z-index: 1; 
}

.container-one .image-1 img {
    width: 650px;
    margin-top: -10px;
}



.container-one .garland-1 img,
.container-one .garland-2 img {
    width: 600px;
    position: absolute;
    z-index: -1;
    animation-duration: 5s; /* Adjust duration as needed */
    animation-timing-function: ease-in-out; /* Smooth animation */
    animation-iteration-count: infinite; /* Make the animation repeat infinitely */
}

/* Rotate garland-1 back and forth */
@keyframes rotateBackAndForth1 {
    0%, 100% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
}

/* Rotate garland-2 back and forth */
@keyframes rotateBackAndForth2 {
    0%, 100% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
}

.container-one .garland-1 img {
    margin-top: -500px;
    margin-left: -600px;
    animation-name: rotateBackAndForth1;
}

.container-one .garland-2 img {
    margin-top: -300px;
    margin-right: -300px;
    animation-name: rotateBackAndForth2;
}



.container-one .date {
    text-align: right;
    margin-top: -10px;
    margin-right: 25vw;
    padding-top: 30px;
}

.container-one .caption {
    text-align: left;
    margin-left: 25vw;
    margin-top: -35px;
    width: 500px; 
}



/* two */



.container-two {
    margin-top: 300px;
    margin-bottom: 300px;
    position: relative;
    text-align: center;
}

.container-two .marquee-container {
    position: absolute;
    width: 2000px;
    height: 1200px;
    overflow: hidden;
    z-index: -20; /* Set z-index to be behind everything */
}

.container-two .marquee-container img {
    width: 2400px; /* Double the width to create repeating effect */
    height: 700px;
    object-fit: cover;
    animation: marquee 20s linear infinite;
}

.container-two .image-1 {
    padding-top: 10px;
    z-index: 5;
}

.container-two .image-2 {
    z-index: 4;
}

.container-two .image-1 img {
    width: 400px;
    transform: rotate(12deg);
    margin-right: 400px;
    margin-top: 50px;
    z-index: 1;
}

.container-two .image-2 img {
    margin-top: -450px;
    margin-left: 350px;
    width: 400px;
    z-index: 2;
}

.container-two .date p {
    text-align: right;
    margin-right: 25vw;
    z-index: 2;
}

.container-two .caption1 {
    text-align: left;
    margin-left: 55vw;
    margin-top: -610px;
    width: 400px;
    z-index: 2;
}

.container-two .caption2 {
    text-align: left;
    margin-top: 450px;
    margin-left: 15vw;
    width: 350px;
    z-index: 6;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}



/* three */


.container-three .image-1 img{
width: 700px;
z-index: 3; 
}

.container-three .hands img{
width: 500px;
margin-right: 1000px;
margin-top: -100px;
z-index: 3; 
}

.container-three .flower img{
width: 350px;
margin-right: 350px;
margin-top: -900px;
z-index: 3; 
}


.container-three .date p{
text-align: right;
margin-right: 30vw;
padding-top: 30px;
z-index: 3; 
}


.container-three .caption {
text-align: left;
margin-left: 55vw;
margin-top: -280px;
width: 300px; 
z-index: 3; 
}

.container-three{
    position: relative;
    height: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}


.container-three .mandala2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: -3; 
    opacity: 0.6;
    width: 100%; 
    height: 100%; 
}

.container-three .mandala-img2 {
    width: 900px;
    position: relative;
    animation: spin 10s infinite linear;
    margin-top: -2200px;
    height: auto; 
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




/* four */

.container-four{
margin-top: 300px;
margin-bottom: 300px;
text-align: center;
}

.container-four .photo-strip {
    margin-top: -800px;
    margin-left: -530px;
    display: inline-block;
}

@keyframes swayAnimation2 {
    0% { transform-origin: top center; transform: rotate(0); }
    25% { transform-origin: top center; transform: rotate(2deg); } 
    50% { transform-origin: top center; transform: rotate(0); }
    75% { transform-origin: top center; transform: rotate(-2deg); } 
    100% { transform-origin: top center; transform: rotate(0); }
}

.container-four .strip2 {
    animation: swayAnimation2 4s infinite alternate;
}

.container-four .image-3 {
    display: inline-block;
}

.container-four .strip2 {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: swayAnimation2 4s infinite alternate;
}

.container-four .image-2 img {
    transform: rotate(15deg);
    width: 150px;
    display: inline-block;    
    margin-top: -130px;
}

.container-four .image-3 img {
    transform: rotate(-10deg);
    width: 150px;
    display: inline-block;
}

.container-four .image-1 img {
    width: 350px;
    margin-top: -20px;
}

.container-four .image-2,
.container-four .image-3 {
    display: inline-block;
}

.container-four .image-4 img {
    margin-left: 360px;
    margin-top: -180px;
    width: 200px;
}

.container-four .next img {
    width: 20%;
    height: 7%;
}

.container-four .caption1 {
    position: relative;
    padding-top: 10px;
    text-align: left;
    margin-left: 38vw;
    margin-top: -380px;
    width: 450px; /* Set the maximum width */
}

.container-four .caption2 {
    position: relative;
    text-align: left;    
    margin-top: -100px;
    margin-left: 40vw;
}

.container-four .caption3 {
    position: relative;
    text-align: left;
    margin-top: -150px;
    margin-left: 70vw;
    width: 200px; /* Set the maximum width */
}

/* five */




.container-five .background-five{
    margin-top: -400px;
    z-index: -5; 
    position: absolute;
}

.container-five .background-five img {
    width: 1500px;
    opacity: .6;
    animation: sway 8s ease-in-out infinite alternate;
}



@keyframes sway {
    0% {
        transform: translateX(-1%);
    }
    100% {
        transform: translateX(1%);
    }
}


.container-five{
    margin-top: 200px;
    margin-bottom: 600px;
    text-align: center;
}

.container-five .image-1 img {
    padding-top: 10px;
    width: 320px;
    margin-top: 100px;
    margin-right: 500px;
    transform: rotate(20deg); 
    z-index: 3; 
}

.container-five .image-2 img {
    width: 320px;
    margin-top: -30px;
    transform: rotate(-5deg); 
    margin-right: 500px;
    z-index: 3; 
}

.container-five .image-3 img {
    width: 600px;
    margin-left: 250px;
    margin-top: -650px;
    z-index: 3; 
}

.container-five .caption p{
    margin-top: 10px; /* Adjust margin-top as needed to move the caption down */
    width: 450px;
    margin-left: 450px;
    text-align: left;
}





/* six */

.container-six{
margin-bottom: 30px;
margin-top: 300px;
text-align: center;
}



.container-six .background-six{
    position: relative; /* Position fixed to cover the whole page */
    margin-top: -1000px;
    margin-left: -200px;
    z-index: -3; /* Set z-index to ensure it's behind other content */
}

.container-six .background-six img {
    object-fit: cover; /* Ensure the image covers the entire background */
    width: 2000px;
    height: 1200px;
}

.container-six .taj img{
    width: 1000px;
    }


.container-six .image-1 img{
    width: 350px;
    margin-left: 330px;
    margin-top: -220px;
    }
    
.container-six .image-2 img{
    width: 400px;
    margin-top: -110px;
    margin-right: 300px;
    }
    


.container-six .caption p{
    margin-top: -110px; /* Adjust margin-top as needed to move the caption down */
    width: 450px;
    margin-left: 54vw;
    text-align: left;
}

    .end-mandala {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    
    .end-mandala img {
        margin-top: -15px;
        width: 150px;
        transition: transform 2s linear;
        position: relative;
        animation: spin 10s infinite linear;
        z-index: 1;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }



/* story */

    .story-page{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .story-page {
        width: 100%;
        height: 100%;
        font-family: 'Noto Serif Tamil', serif;
        line-height: 1.6;
        color: #fff;
        position: relative;
    }
    
    .story-page::after {
        content: '';
        position: absolute;
        width: 2000px;
        height: 1300px;
        background: radial-gradient(circle, #740000 0%, #150000 100%);
        animation: pulsate 5s infinite;
        z-index: -1;
    }
    
    @keyframes pulsate {
        0% {
            opacity: 0.8;
        }
        50% {
            opacity: 0.2;
        }
        100% {
            opacity: 0.8;
        }
    }
    
    
    .story-page h1{
        font-family: "pritzious", sans-serif;
        margin-top: 30px;
        font-size: 50px;
        text-align: center; /* Centering the heading text */
    }
    
    .story-page p{
        font-size: 40px;
        text-align: left;
        width: 800px; /* Example maximum width for paragraphs */
        text-indent: 40px; /* Indentation of 2em (adjust as needed) */
        margin-bottom: -10px;
    }
    


























/* media query */

@media only screen and (max-width: 768px) {
    

p{
    font-size: 20px;
}

.intro {
    width: 300px;
    margin-top: 400px;
}

.intro h1::before {
    font-size: 30px;
}

.intro:hover h1:before {
    font-size: 60px;
    line-height: 1;
   }



.border {
    margin-top: -500px;
}

.border-img {
    width: 1000px;
    height: auto;

}
.box {
    margin-top: -200px;
}



.mandala {
    padding-top: 100px;
}

.mandala-img {
    width: 800px;
}

.nav1,
.nav2,
.nav3,
.nav4,
.nav5 {
    margin-top: -100px;

}

.scroll-button1 img,
.scroll-button2 img {
    width: 40px;
    height: auto;
    margin-top: 10px;
    margin-left: 80vw;
}


.home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
}

.home-button p {
    font-size: 25px;
}


.story-button {
    position: fixed;
    bottom: -70px;
    left: -70px;
    padding: 100px;
}

.story-button p {

    font-size: 30px;
}





/* one */


.container-one .background-one{
        margin-top: -1100px;
        margin-left: -200px;
    }
    
    .container-one .background-one img {
        object-fit: cover; /* Ensure the image covers the entire background */
        width: 1200px;
        height: 1200px;
    }
    
    
.container-one .image-1 {
    position: relative;
}

.container-one .image-1 img {
    width: 250px;
}



.container-one .garland-1 img,
.container-one .garland-2 img {
    width: 300px;
}

.container-one .garland-1 img {
    margin-top: -300px;
    margin-left: -250px;
}

.container-one .garland-2 img {
    margin-top: -200px;
    margin-right: -300px;
}



.container-one .date p{
    margin-top: 200px;
}

.container-one .caption {
    margin-top: 10px;
    margin-bottom: 70px;
    margin-left: 20vw;
    width: 300px; 
}



/* two */



.container-two {
    margin-top: 300px;
    margin-bottom: 300px;
}

.container-two .marquee-container {
    width: 1000px;
    height: 1200px;
    overflow: hidden;
}

.container-two .marquee-container img {
    width: 1400px; /* Double the width to create repeating effect */
    height: 700px;
}

.container-two .image-1 {
}

.container-two .image-2 {
} 

.container-two .image-1 img {
    margin-top: 200px;
    margin-left: 20px;
    width: 200px;
}

.container-two .image-2 img {
    margin-left: 25vw;
    width: 200px;
}


.container-two .caption1 {
    width: 250px;
    margin-top: -400px;
    margin-left: 25vw;
}

.container-two .caption2 {
    width: 350px;
    margin-top: 300px;
}



/* three */


.container-three .image-1 img{
width: 300px;
}

.container-three .hands img{
width: 200px;
margin-top: -100px;
}

.container-three .flower img{
margin-left: 30vw;
width: 150px;
}


.container-three .date p{
padding-top: 100px;
}

.container-three .date{
    margin-right: -10vw;
}

.container-three .caption {
margin-left: 15vw;
margin-top: -20px;
padding-bottom: -100px;
width: 200px; 
}

.container-three{
    height: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
}



.container-three .mandala-img2 {
    width: 500px;
    margin-top: -2800px;
}




/* four */

.container-four{
margin-top: 300px;
margin-bottom: 300px;
text-align: center;
}

.container-four .photo-strip {
    margin-top: -800px;
    margin-left: -300px;
    display: inline-block;
}



.container-four .image-2 img {
    transform: rotate(15deg);
    width: 80px;
    display: inline-block;    
    margin-top: -130px;
}

.container-four .image-3 img {
    transform: rotate(-10deg);
    width: 80px;
    display: inline-block;
}

.container-four .image-1 img {
    width: 200px;
}

.container-four .image-2,
.container-four .image-3 {
    display: inline-block;
}

.container-four .image-4 img {
    margin-left: 220px;
    margin-top: -180px;
    width: 100px;
}

.container-four .next img {
    width: 20%;
    height: 7%;
}

.container-four .caption1 {
    position: relative;
    padding-top: 30px;
    text-align: left;
    margin-left: 30vw;
    margin-top: -380px;
    padding-bottom: 10px;
    width: 200px; /* Set the maximum width */
}

.container-four .caption2 {
    position: relative;
    text-align: left;    
    margin-top: -50px;
    margin-left: 2vw;
}

.container-four .caption3 {
    position: relative;
    text-align: left;
    margin-top: -10px;
    margin-left: 26vw;
    width: 250px; /* Set the maximum width */
}

/* five */




.container-five .background-five{
    margin-top: -400px;
    margin-bottom: 100px;
}

.container-five .background-five img {
    width: 1000px;
}



.container-five{
    margin-top: 200px;
    margin-bottom: 600px;
    text-align: center;
}

.container-five .image-1 img {
    padding-top: 50px;
    width: 150px;
    margin-top: 100px;
    margin-left: 60px;
}

.container-five .image-2 img {
    width: 150px;
    margin-top: -30px;
    margin-left: 60px;
}

.container-five .image-3 img {
    width: 250px;
    margin-left: 150px;
    margin-top: -650px;
    z-index: 3; 
}

.container-five .caption p{
    margin-top: 10px; 
    margin-bottom: 100px;
    width: 350px;
    margin-left: 50px;
    text-align: left;
}





/* six */

.container-six{
margin-bottom: 30px;
margin-top: 300px;
text-align: center;
}



.container-six .background-six{
    position: relative; /* Position fixed to cover the whole page */
    margin-top: -800px;
    margin-left: -200px;
    z-index: -3; /* Set z-index to ensure it's behind other content */
}

.container-six .background-six img {
    width: 1000px;
    height: 900px;
}

.container-six .taj img{
    width: 400px;
}


.container-six .image-1 img{
    width: 150px;
    margin-left: 33vw;
    margin-top: -40px;
    }
    
.container-six .image-2 img{
    width: 150px;
    margin-top: -110px;
    margin-right: 30vw;
    }
    


.container-six .caption p{
    margin-top: 10px; /* Adjust margin-top as needed to move the caption down */
    width: 300px;
    margin-left: 14vw;

}


    
    .end-mandala img {
        margin-top: 5px;
        width: 100px;
  
    }
    


/* story */

    .story-page{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .story-page {
        width: 100%;
        height: 100%;
        line-height: 1.6;
        color: #fff;
        position: relative;
    }
    
    .story-page::after {
        content: '';
        position: absolute;
        width: 2000px;
        height: 1500px;
    }
        .story-page h1{
        margin-top: 100px;
        font-size: 38px;
    }
    
    .story-page p{
        width: 400px;
        font-size: 30px;
        margin-bottom: -10px;
    }
    




}