/* general styling */


body {
    background: #151111;
    overflow-x: hidden;
    position: relative;
}


#container {
    position: relative;
}

.image {
    position: fixed;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100px; 
    height: auto; 
}

.image.clicked {
    transform: scale(1.5);
}



/* polaroid positioning */

.polaroid-1 {
    position: absolute;
    padding-left: 120px;
    padding-bottom: 100px;
}

.polaroid-2 {
    padding-left: 100px;
    padding-top: 250px;
}

.polaroid-3 {
    padding-left: 200px;
    padding-top: 300px;
}

.polaroid-4 {
    padding-left: 370px;
    margin-top:-480px;
    padding-bottom: 20px;
}

.polaroid-5 {
    padding-left: 350px;
    margin-top: 200px;
}

.polaroid-6 {
    margin-left: 570px;
    margin-top: -300px;
}

.polaroid-7 {
    padding-left: 650px;
    padding-top: 260px;
}

.polaroid-8 {
    padding-top: 250px;
    padding-left: 600px;
}

.polaroid-9 {
    position: absolute;
    padding-left: 820px;
    margin-top: -560px;
}

.polaroid-10 {
    position: absolute;
    padding-top: 10px;
    padding-left: 900px;
    margin-top: -290px;
}

.polaroid-11 {
    position: absolute;
    padding-left: 900px;
    margin-top: 40px;
}

.polaroid-12 {
    margin-top: -270px;
    padding-left: 1100px;
}


.polaroid-1 img, .polaroid-2 img, .polaroid-3 img,
.polaroid-4 img, .polaroid-5 img, .polaroid-6 img,
.polaroid-7 img, .polaroid-8 img, .polaroid-9 img,
.polaroid-10 img, .polaroid-11 img, .polaroid-12 img
{
width: 300px;
}



/* spotlight effect */

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 99;
    background-color: rgba(0,0,0,0.9);
    mix-blend-mode: multiply;
}

.spotlight {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 60%;
    pointer-events: none;
    z-index: 98;
    mix-blend-mode: multiply;
    transform: translate(-50%, -50%);
}



/* text reveal effect */
.text-reveal {
    display: none; /* Initially hide text */
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 14px;
}

.text-reveal.revealed {
    display: block; /* Display text when revealed */
}



/* text for each polaroid */

/* #1 */


.polaroid-1 .text-reveal:nth-of-type(1) {
    position: absolute;
    margin-left: 100px;
    margin-top: 400px;
}

.polaroid-1 .text-reveal:nth-of-type(2) {
    position: absolute;
    margin-left: 200px;
    margin-top: 400px;
}

.polaroid-1 .text-reveal:nth-of-type(3) {
    position: absolute;
    margin-left: 600px;
    margin-top: 600px;
    width: 20%;
}


/* #2 */

.polaroid-2 .text-reveal:nth-of-type(1) {
    position: absolute;
    top: 10%;
    left: 50%;
    max-width: 20%;
}

.polaroid-2 .text-reveal:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 20%;

}

.polaroid-2 .text-reveal:nth-of-type(3) {
    position: absolute;
    top: 10%;
    left: 50%;
    max-width: 20%;
}




/* #3 */

.polaroid-3 .text-reveal:nth-of-type(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-3 .text-reveal:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.polaroid-3 .text-reveal:nth-of-type(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}




/* #4 */

.polaroid-4 .text-reveal:nth-of-type(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-4 .text-reveal:nth-of-type(2) {
    position: absolute;
    top: 30%;
    left: 45%;
    width: 15%;
}

.polaroid-4 .text-reveal:nth-of-type(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}



/* #5 */

.polaroid-5 .text-reveal:nth-of-type(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-5 .text-reveal:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.polaroid-5 .text-reveal:nth-of-type(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}



/* #6 */

.polaroid-6 .text-reveal:nth-of-type(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-6 .text-reveal:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.polaroid-6 .text-reveal:nth-of-type(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}




/* #7 */

.polaroid-7 .text-reveal:nth-of-type(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-7 .text-reveal:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.polaroid-7 .text-reveal:nth-of-type(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}




/* #8 */

.polaroid-8 .text-reveal:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-8 .text-reveal:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.polaroid-8 .text-reveal:nth-child(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}




/* #9 */

.polaroid-9 .text-reveal:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-9 .text-reveal:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.polaroid-9 .text-reveal:nth-child(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}



/* #10 */

.polaroid-10 .text-reveal:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-10 .text-reveal:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.polaroid-10 .text-reveal:nth-child(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}



/* #11 */

.polaroid-11 .text-reveal:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-11 .text-reveal:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.polaroid-11 .text-reveal:nth-child(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}



/* #12 */

.polaroid-12 .text-reveal:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 50%;
}

.polaroid-12 .text-reveal:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.polaroid-12 .text-reveal:nth-child(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}





